<div class="jumbrotron">
<center>
<h1>Welcome to The Donut Shop!</h1>

<img src="https://creativetextmarketing.files.wordpress.com/2011/02/donut-shop-logo.jpg">
<br>

<%= link_to "Check our our donuts!", donuts_path, class: "btn btn-default" %>

</center>

</div>